  <div class="bandeau">
  <h1>Le générateur de mot de passe ta3 les fous</h1>
</div>
  <div class="contenu">
    <button class="bouton" mat-flat-button color="accent" (click)="moins(1)">-</button>
    {{longueur}}
    <button class="bouton" mat-flat-button color="accent" (click)="plus(1)">+</button>
    <button (click)="generer()" mat-raised-button color="primary">Générer un mot de passe</button>
    {{mdp}}
  </div>
  <div class="options">
    <mat-checkbox [(ngModel)]="checkMajuscules">Majuscules</mat-checkbox>
    <mat-checkbox [(ngModel)]="checkMinuscules">Minuscules</mat-checkbox>
    <mat-checkbox [(ngModel)]="checkChiffres">Chiffres</mat-checkbox>
    <mat-checkbox [(ngModel)]="checkCaracteresSpeciaux">Caractères spéciaux</mat-checkbox>
  </div>
  <button [cdkCopyToClipboard]="mdp" mat-raised-button color="primary" disabled="{{!checkMotDePasse}}">Copier le mot de passe</button>
  <mat-progress-bar mode="determinate" value="{{solidite}}"></mat-progress-bar>
  {{solidite}}
  {{phraseSolidite}}